
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #92e89b, #106932);
    background-size: cover;
    background-position: center;
}


.login-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    position: relative;
}


.login-box h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
}


.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    padding: 15px 20px 15px 50px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
}


.input-box .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 1.2rem;
}


.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 20px;
}

.options a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}


button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: #555;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #ddd;
}


.login-box p {
    color: white;
    margin-top: 20px;
}

.login-box p a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-box p a:hover {
    color: #ddd;
}
